.palette{
    display: flex;
    justify-content: center;
}

.palette > div{
    width:2rem;
    height: 2rem;
    margin:0 0.5rem;
}

.palette > :nth-child(1){
    background: rgb(65, 65, 65);
}

.palette > :nth-child(1):hover{
    background: black;
}

.palette > :nth-child(2){
    background: #ff9c9c;
}

.palette > :nth-child(2):hover{
    background: #F26F6F;
}

.palette > :nth-child(3){
    background: #8ad3b8;
}

.palette > :nth-child(3):hover{
    background: #62c7a2;
}

.palette > :nth-child(4){
    background: #86bbf0;
}

.palette > :nth-child(4):hover{
    background: #5EA5EB;
}